<h4><%= @kitten.name %></h4>

<p>My age:<%= @kitten.age %></p>
<p>My cuteness level:<%= @kitten.cuteness %></p>
<p>My softness rating:<%= @kitten.softness %></p>
<p><%= link_to "Destroy this kitten", kitten_path, method: :delete %></p>